body {
    background-color: #000;
    color: #fff;
    background-image: url(bg.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100%;
}
